<!DOCTYPE html>
<html>
<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WQJTNVH');</script>
  <!-- End Google Tag Manager -->
  <title>🛴 scooters.hk</title>
 <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
 <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WQJTNVH"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
 <div id="app">
   <v-app>
     <main>
       <v-container>
         <v-layout row>
          <v-flex xs12 lg6 offset-lg3>
            <v-card>
              <v-toolbar class="cyan" dark>
                <!-- <v-toolbar-side-icon></v-toolbar-side-icon> -->
                <v-toolbar-title>e-scooters group in Hong Kong</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn icon>
                  <!-- <v-icon>search</v-icon> -->
                </v-btn>
              </v-toolbar>
              <v-list three-line>
                <template v-for="item in items">
                  <v-subheader v-if="item.header" v-text="item.header"></v-subheader>
                  <v-divider v-else-if="item.divider" v-bind:inset="item.inset"></v-divider>
                  <v-list-tile avatar v-else v-bind:key="item.title" @click="openNewTab(item.url)">
                    <v-list-tile-avatar>
                      <img v-bind:src="item.avatar"></v-list-tile-avatar>
                    </v-list-tile-avatar>
                    <v-list-tile-content>
                      <v-list-tile-title v-html="item.name"></v-list-tile-title>
                      <!-- <v-list-tile-sub-title v-html="item.url"></v-list-tile-sub-title> -->
                    </v-list-tile-content>
                  </v-list-tile>
                </template>
              </v-list>
            </v-card>
          </v-flex>
        </v-layout>
       </v-container>

     </main>
   </v-app>
 </div>
 <script src="https://unpkg.com/vue/dist/vue.js"></script>
 <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
 <script>
   new Vue({
    el: '#app',
    data: {
      items: [
        { type: 'facebook group', name: '香港電動滑板車分享', url: 'https://www.facebook.com/groups/959685480735461', avatar: 'https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_circle_color-512.png'},
        { type: 'facebook group', name: '香港電動滑板車好友團', url: 'https://www.facebook.com/groups/1873718942897405', avatar: 'https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_circle_color-512.png'},
        { type: 'facebook group', name: '香港電動滑板車團', url: 'https://www.facebook.com/groups/1305095392838011', avatar: 'https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_circle_color-512.png'},
        { type: 'facebook trade', name: '香港電動滑板車買賣分享', url: 'https://www.facebook.com/groups/285123218623075', avatar: 'https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_circle_color-512.png'},
        { type: 'facebook trade', name: '香港電動滑板車 二手買賣維修', url: 'https://www.facebook.com/groups/311584162613631', avatar: 'https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_circle_color-512.png'},
        { type: 'facebook trade', name: '電動滑板車分享買賣交流', url: 'https://www.facebook.com/groups/1140625816054576', avatar: 'https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_circle_color-512.png'},
        { type: 'whatsapp group', name: '粉嶺上水🛴出車群？^_^', url: 'https://chat.whatsapp.com/invite/FUJLg54Wx3rGoje9fDGvXd', avatar: 'http://icons.iconarchive.com/icons/dtafalonso/android-l/256/WhatsApp-icon.png'},
        { type: 'whatsapp group', name: '大埔🛴出車群 Taipo e-scooters🔇', url: 'https://chat.whatsapp.com/89EsYHVupqV1HRVg6Pbx4v', avatar: 'http://icons.iconarchive.com/icons/dtafalonso/android-l/256/WhatsApp-icon.png'},
        { type: 'whatsapp group', name: '[港島區]小暴龍咬死小熊🔪🔪之 終於有得玩☠☠', url: 'https://chat.whatsapp.com/invite/CR9ss6dLULq6XZtJib5u2e', avatar: 'http://icons.iconarchive.com/icons/dtafalonso/android-l/256/WhatsApp-icon.png'},
        { type: 'whatsapp group', name: '香港電動滑板車群組（18+）', url: 'https://chat.whatsapp.com/invite/BhMOKoEyHj7FjfSHxyF2yS', avatar: 'http://icons.iconarchive.com/icons/dtafalonso/android-l/256/WhatsApp-icon.png'},
        { type: 'whatsapp group', name: '香港🛴電板 公開群', url: 'https://chat.whatsapp.com/invite/F1NpjYNcHTVJOuSnTAUIZp', avatar: 'http://icons.iconarchive.com/icons/dtafalonso/android-l/256/WhatsApp-icon.png'},
      ],
    },
    methods: {
      openNewTab: function (url) {
        window.open(url, '_blank');
      },
    }
   })
 </script>
 <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '580242858813078',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v2.10'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "http://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
</body>
</html>
