<!DOCTYPE html>
<html>
<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WQJTNVH');</script>
  <!-- End Google Tag Manager -->
  <title>🛴 scooters.hk</title>
 <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
 <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
 <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WQJTNVH"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div id="app">
     <v-app>
      <!-- <depreciation></depreciation> -->
       <main>
         <v-container>
           <v-layout row>
            <v-flex xs12 lg6 offset-lg3>
              <!-- ***1 -->
              <!-- <v-card v-show=false> -->
              <v-card v-show=true>
                <v-toolbar class="cyan" dark>
                  <!-- <v-toolbar-side-icon></v-toolbar-side-icon> -->
                  <v-toolbar-title>e-scooters group in Hong Kong</v-toolbar-title>
                  <v-spacer></v-spacer>
                  <v-btn icon>
                    <!-- <v-icon>search</v-icon> -->
                  </v-btn>
                </v-toolbar>
                <v-list three-line>
                  <template v-for="item in items">
                    <v-subheader v-if="item.header" v-text="item.header"></v-subheader>
                    <v-divider v-else-if="item.divider" v-bind:inset="item.inset"></v-divider>
                    <v-list-tile avatar v-else v-bind:key="item.title" @click="openNewTab(item.url)">
                      <v-list-tile-avatar>
                        <img v-bind:src="item.avatar"></v-list-tile-avatar>
                      </v-list-tile-avatar>
                      <v-list-tile-content>
                        <v-list-tile-title v-html="item.name"></v-list-tile-title>
                      </v-list-tile-content>
                    </v-list-tile>
                  </template>
                </v-list>
              </v-card>

              <!-- Calc -->
              <!-- ***2 -->
              <v-card class="e4" v-show=false>
                <v-toolbar class="cyan" dark>
                  <v-toolbar-title>續航計算</v-toolbar-title>
                  <v-spacer></v-spacer>
                </v-toolbar>
                <v-card-text>
                  <v-container fluid grid-list-md>

                    <v-layout row wrap>
                      <!-- Bar & Fill -->
                      <v-flex xs9>
                        <v-slider label="volt" v-bind:min="24" v-bind:max="100" v-model="volt"></v-slider>
                      </v-flex>
                      <v-flex xs3>
                        <v-text-field v-model="volt" type="number"></v-text-field>
                      </v-flex>
                      <v-flex xs9>
                        <v-slider label="mAh" v-bind:min="5000" v-bind:max="20000" v-model="mah"></v-slider>
                      </v-flex>
                      <v-flex xs3>
                        <v-text-field v-model="mah" type="number"></v-text-field>
                      </v-flex>
                      <v-flex xs9>
                        <v-slider label="Adjustment" v-bind:min="10" v-bind:max="12" v-model="adjustment"></v-slider>
                      </v-flex>
                      <v-flex xs3>
                        <v-text-field v-model="adjustment" type="number"></v-text-field>
                      </v-flex>
                      <!-- Result -->
                      <v-flex xs12>
                        <h2>預計續航: <span >{{resultDistance}}</span> km</h2>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-card-text>
              </v-card>

              <!-- ***3 -->
              <v-card class="e4">
                <v-toolbar class="cyan" dark>
                  <v-toolbar-title>😂 賣車計數機</v-toolbar-title>
                  <v-spacer></v-spacer>
                </v-toolbar>
                <v-card-text>
                  <v-container fluid grid-list-md>

                    <v-layout row wrap>
                      <!-- Bar & Fill -->
                      <v-flex xs9>
                        <v-slider label="購入價 $" v-bind:min="1000" v-bind:max="10000" v-model="costOriginal"></v-slider>
                      </v-flex>
                      <v-flex xs3>
                        <v-text-field v-model="costOriginal" type="number"></v-text-field>
                      </v-flex>
                      <v-flex xs9>
                        <v-slider label="折舊 %" v-bind:min="0" v-bind:max="100" v-model="depreciation"></v-slider>
                      </v-flex>
                      <v-flex xs3>
                        <v-text-field v-model="depreciation" type="number"></v-text-field>
                      </v-flex>
                      <v-flex xs9>
                        <v-slider label="賣出價 $" v-model="costRemain" disabled></v-slider>
                      </v-flex>
                      <v-flex xs3>
                        <v-text-field v-model="costRemain" type="number" disabled></v-text-field>
                      </v-flex>
                      <v-flex xs9>
                        <v-slider label="已消耗公里" v-bind:min="100" v-bind:max="10000" v-model="consumedMiles"></v-slider> </v-flex>
                      <v-flex xs3>
                        <v-text-field v-model="consumedMiles" type="number"></v-text-field>
                      </v-flex>
                      <!-- Result -->
                      <v-flex xs12>
                        <h2>平均每公里消費 $<span>{{resultMiles}}</span></h5>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-card-text>
              </v-card>


            </v-flex>
          </v-layout>
         </v-container>

       </main>
     </v-app>
  </div>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
  <script>
  // import Depreciation from './component/depreciation.vue'
  // import Depreciation from './component/depreciation'

   new Vue({
    el: '#app',
    data: {
      items: [
        { type: 'facebook group', name: '香港電動板車(約戰區)(大埔/粉嶺/上水/沙田/馬鞍山)', url: 'https://www.facebook.com/groups/138538216757667', avatar: 'https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_circle_color-512.png'},
        { type: 'facebook group', name: '香港電動滑板車分享', url: 'https://www.facebook.com/groups/959685480735461', avatar: 'https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_circle_color-512.png'},
        { type: 'facebook group', name: '香港電動滑板車好友團', url: 'https://www.facebook.com/groups/1873718942897405', avatar: 'https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_circle_color-512.png'},
        { type: 'facebook group', name: '香港電動滑板車團', url: 'https://www.facebook.com/groups/1305095392838011', avatar: 'https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_circle_color-512.png'},
        { type: 'facebook trade', name: '香港電動滑板車買賣分享', url: 'https://www.facebook.com/groups/285123218623075', avatar: 'https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_circle_color-512.png'},
        { type: 'facebook trade', name: '香港電動滑板車 二手買賣維修', url: 'https://www.facebook.com/groups/311584162613631', avatar: 'https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_circle_color-512.png'},
        { type: 'facebook trade', name: '電動滑板車分享買賣交流', url: 'https://www.facebook.com/groups/1140625816054576', avatar: 'https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_circle_color-512.png'},
        { type: 'facebook trade', name: 'Hei box Jackhot HK', url: 'https://www.facebook.com/electricHKscooter', avatar: 'https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_circle_color-512.png'},
        { type: 'whatsapp group', name: '粉嶺上水🛴出車群？^_^', url: 'https://chat.whatsapp.com/invite/FUJLg54Wx3rGoje9fDGvXd', avatar: 'http://icons.iconarchive.com/icons/dtafalonso/android-l/256/WhatsApp-icon.png'},
        { type: 'whatsapp group', name: '大埔🛴出車群 Taipo e-scooters🔇', url: 'https://chat.whatsapp.com/89EsYHVupqV1HRVg6Pbx4v', avatar: 'http://icons.iconarchive.com/icons/dtafalonso/android-l/256/WhatsApp-icon.png'},
        { type: 'whatsapp group', name: '[港島區]小暴龍咬死小熊🔪🔪之 終於有得玩☠☠', url: 'https://chat.whatsapp.com/invite/CR9ss6dLULq6XZtJib5u2e', avatar: 'http://icons.iconarchive.com/icons/dtafalonso/android-l/256/WhatsApp-icon.png'},
        { type: 'whatsapp group', name: '香港電動滑板車群組（18+）', url: 'https://chat.whatsapp.com/invite/BhMOKoEyHj7FjfSHxyF2yS', avatar: 'http://icons.iconarchive.com/icons/dtafalonso/android-l/256/WhatsApp-icon.png'},
        { type: 'whatsapp group', name: '香港🛴電板 公開群', url: 'https://chat.whatsapp.com/invite/F1NpjYNcHTVJOuSnTAUIZp', avatar: 'http://icons.iconarchive.com/icons/dtafalonso/android-l/256/WhatsApp-icon.png'},
      ],
      // ***0
      // Data default by ES 36km as example
      volt: 36,
      mah: 6600,
      adjustment: 11,
      // default as e-unicycle
      costOriginal: 3680,
      depreciation: 50,
      consumedMiles: 4000,
      // default as e-scooters
      // costOriginal: 2300,
      // depreciation: 57,
      // consumedMiles: 2000,
    },
    components: {
      // 'depreciation': Depreciation,
    },
    methods: {
      openNewTab: function (url) {
        window.open(url, '_blank');
      },
    },
    computed: {
      resultDistance: function () {
        // LI-ion计算方法(单驱)
        // volt x mah x90%=wh
        // wh除10-12=實际续航km
        let wh = this.volt * (this.mah / 1000) * 0.9
        let result = wh / this.adjustment
        return Math.round(result)
      },
      // ***9
      costRemain: function () {
        if (this.depreciation > 0) {
          return Math.round(this.costOriginal - (this.depreciation / 100 * this.costOriginal))
        }
        return this.costOriginal
      },
      resultMiles: function () {
        return Math.round(this.costRemain / this.consumedMiles * 10) / 10
      },
    },
    // components: {
      // 'group-list': group
    // },
   })
  </script>
   <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId            : '580242858813078',
        autoLogAppEvents : true,
        xfbml            : true,
        version          : 'v2.10'
      });
      FB.AppEvents.logPageView();
    };

    /*(function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "http://connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));*/
    /*
      @TODO:
        item detail
          - ES
            * ES pro
            * 纤维
            * ET mini
          - xi mi (CNY1,999 | 12.5kg | 14% | 100kg | 18kph | 30km)
        compare list
          - weight
          - max speed
          - distance
        Link ref
          JASION(T Mall) - https://jasionhw.world.tmall.com
          小米(小米米家电动滑板车) - https://www.mi.com/scooter2/
        Menu
          - Community
          - Scooter
        ES taobao URL
          https://world.tmall.com/item/552922711989.htm?spm=a230r.1.14.6.1f7b5011pnJzZZ&id=552922711989&cm_id=140105335569ed55e27b&abbucket=14&sku_properties=8369595:6505275
    */
  </script>
<style>
  #app {
    overflow: hidden;
  }
  @media only screen and (max-width: 768px) {
    .slider__thumb.primary {
      width: 30px;
      height: 30px;
    }
  }
</style>
</body>
</html>
